.board {
    /* background: green; */
    border: 1px solid grey;
}

.controls {
    top: 0;
    position: fixed;
    z-index: 501;
    left: 58%;
    width: 100%;
}

button {
    background: #537e2e;
    border: 0px;
    color: white;
    text-transform: capitalize;
}

h3 {
    color: white;
}